md-swipe-for-options {

  .swipe-options-container {
    position: relative;
    overflow: hidden;

    .swipe-content {
      position: relative;
      transition: 0.5s ease-in-out;

      &.options-shown {

      }
    }

    .swipe-options {
      color: white;
      transition: 0.5s ease-in-out;
      height: 100%;
      width: 0;

      position: absolute;
      top: 0;
      right: 0;

      &, * {
        white-space: nowrap;
      }

      swipe-options {
        height: 100%;
      }
    }

  }

  &.one-button {

    .swipe-content.options-shown {
      transform: translateX(-16%);
    }

    .swipe-options.options-shown {
        width: 16%;
    }

  }

  &.two-button {

    .swipe-content.options-shown {
      transform: translateX(-32%);
    }

    .swipe-options.options-shown {
      width: 32%;
    }

  }

  &.three-button {

    .swipe-content.options-shown {
      transform: translateX(-50%);
    }

    .swipe-options.options-shown {
      width: 50%;
    }

  }

}